<h1>Portfolio Items</h1>
<%= link_to "Create a New Item", new_portfolio_path %>

<p>
new_portfolio_path: <i><%= new_portfolio_path %></i>
</p>
<p>
new_portfolio_url: <i><%= new_portfolio_url %></i>
</p>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
